nav {
  background: var(--gradient);
}
.navbar {
  display: grid;
  grid-template-columns: auto 1fr auto;
  max-width: var(--content-width);
  margin: 0 auto;
  padding: 0 2rem;
}
.navbar a {
  font-size: 1.4rem;
}
.title a,
.navlinks a {
  color: var(--text-color);
  font-family: var(--title-fonts);
  font-weight: var(--link-weight);
  text-decoration: none;
}
.title a {
  display: inline-block;
  margin: -6px -3px -6px 0;
  padding: 3px 6px;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 6px;
  transform: scale(1);
  transition: 200ms background-color cubic-bezier(0.4, 0, 0.2, 1);
  box-shadow: 3px 3px 0 var(--color-blue);
}
.title a:focus {
  background-color: rgba(255, 255, 255, 0.7);
}
.title a:hover {
  background-color: white;
}
.title a:active {
  position: relative;
  top: 3px;
  left: 3px;
  background-color: white;
  /* transform: scale(1); */
  box-shadow: none;
}
.title {
  text-align: left;
}
.navlinks {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  text-transform: lowercase;
  justify-content: flex-end;
}
.navlinks li {
  margin-left: 3rem;
}
.navlinks a {
  text-decoration: none;
  transition: background-size 50ms ease-in-out;
  background-size: auto 30%;
  background-position: 0 100%;
  background-repeat: no-repeat;
  background-image: linear-gradient(
    rgba(255, 255, 255, 0.5) 0%,
    rgba(255, 255, 255, 0.5) 100%
  );
}

.navlinks a:hover {
  color: var(--text-color);
  background-image: linear-gradient(
    rgba(255, 255, 255, 0.7) 0%,
    rgba(255, 255, 255, 0.7) 100%
  );
  background-size: auto 100%;
  background-position: 0 100%;
  border-radius: 6px;
  padding: 4px 4px;
  margin: -4px -4px;
}

.navlinks a:active,
.navlinks a:focus {
  background: rgba(255, 255, 255, 0.7);
  background-position: 0 100%;
  border-radius: 6px;
  padding: 4px 4px;
  margin: -4px -4px;
}

.navlinks a:active {
  background: white;
}

/* .navlinks a {
  padding: 3px 0;
  border-bottom: 3px solid white;
  transition: all 0.3s ease-in-out;
}

.navbar a:hover {
  background: white;
  color: var(--text-color);
} */
.navbar li {
  list-style: none;
  margin-top: 1rem;
  padding: 0;
}
.navbar li:last-child {
  margin-bottom: 1rem;
}

@media only screen and (max-width: 620px) {
  nav {
    padding: 0 1rem;
  }
  .navbar a {
    font-size: 1.2rem;
  }
  .navbar li {
    padding: 0 2px;
  }
  /* .title__text {
    display: none;
  } */
}

@media only screen and (max-width: 400px) {
  nav {
    padding: 0 6px;
  }
  .navbar {
    /* grid-template-columns: 88px 1fr; */
  }
}
