:root {
  /* colors */
  --text-color-black: #444444;
  --gradient: linear-gradient(140deg, #5fc5b4 15%, #33ccff);
  --gradient-alpha-light: linear-gradient(
    140deg,
    rgba(95, 197, 180, 0.6) 15%,
    rgba(51, 204, 255, 0.6)
  );
  --gradient-alpha-dark: linear-gradient(
    140deg,
    rgba(95, 197, 180, 0.8) 15%,
    rgba(51, 204, 255, 0.8)
  );
  --color-seaform: rgba(95, 197, 180, 0.8);
  --color-blue: rgb(51, 204, 255);

  /* box shadows */
  --shadow-large: 0 4px 16px rgba(0, 0, 0, 0.25);
  --shadow-small: 0 2px 8px rgba(0, 0, 0, 0.3);

  /* themes */
  --theme-light-bg: #ffffff;
  --theme-light-text: #444444;
  --theme-dark-bg: #444444;
  --theme-dark-text: #ffffff;

  /* design */
  --content-width: 60rem;
  --frame-padding: 0 2rem;

  /* typography */
  --title-fonts: "Work Sans", -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Segoe UI Emoji", "Segoe UI Symbol", "Apple Color Emoji", sans-serif;
  --body-fonts: "Lato", -apple-system, BlinkMacSystemFont, "Apple Color Emoji",
    sans-serif;
  --code-fonts: "Cascadia Code", SFMono-Regular, Consolas, Liberation Mono,
    Menlo, monospace;

  --title-weight: 300;
  --link-weight: 400;
  --body-reg-weight: 400;
  --body-bold-weight: 900;
}

/* prettier-ignore */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

body {
  color: var(--text-color-black);
  font-family: var(--body-fonts);
  font-weight: var(--body-reg-weight);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--title-fonts);
  margin-bottom: 2rem;
}
h1,
h2 {
  font-weight: var(--title-weight);
}
h3,
h4,
h5,
h6 {
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: -1px;
}
h1 {
  font-size: 2.4em;
}
h2 {
  font-size: 2em;
}
h3 {
  font-size: 1.2em;
}
h4 {
  font-size: 1.2em;
}
strong {
  font-weight: 900;
}

em {
  font-style: italic;
}
.page__title {
  margin: 4vh 0 2rem;
}
p {
  line-height: 1.6rem;
  margin-bottom: 1.4rem;
}
p a {
  transition: all 0.2s ease-in-out;
}
a:focus {
  outline: dotted 2px var(--text-color-black);
}
a:active {
  outline: none;
}
main {
  text-align: center;
  margin-bottom: 1rem;
}
main p a {
  color: var(--text-color-black);
  font-weight: var(--body-bold-weight);
  text-decoration: none;
  transition: background-size 50ms ease-in-out;
  background-size: 100% 35%;
  background-position: 0 100%;
  background-repeat: no-repeat;
  background-image: var(--gradient-alpha-light);
}
main p a:hover {
  color: var(--text-color);
  background-size: 100% 100%;
  background-position: 0 100%;
  border-radius: 6px;
  padding: 2px 2px;
  margin: 0 -2px;
}
main p a:active,
main p a:focus {
  color: var(--text-color-black);
  background-size: 100% 100%;
  background-position: 0 100%;
  border-radius: 6px;
  padding: 2px 2px;
  margin: 0 -2px;
}
main p a:active {
  background-image: var(--gradient);
}

footer p a {
  color: var(--text-color-black);
  font-weight: var(--body-bold-weight);
  text-decoration: none;
  transition: background-size 50ms ease-in-out;
  background-size: 100% 35%;
  background-position: 0 100%;
  background-repeat: no-repeat;
  background-image: linear-gradient(
    rgba(255, 255, 255, 0.7) 0%,
    rgba(255, 255, 255, 0.7) 100%
  );
}
footer p a:hover {
  background-image: linear-gradient(
    rgba(255, 255, 255, 0.7) 0%,
    rgba(255, 255, 255, 0.7) 100%
  );
  background-size: 100% 100%;
  background-position: 0 100%;
  border-radius: 6px;
  padding: 2px 2px;
  margin: 0 -2px;
}
footer p a:active,
footer p a:focus {
  background: rgba(255, 255, 255, 0.7);
  background-position: 0 100%;
  border-radius: 6px;
  padding: 2px 2px;
  margin: 0 -2px;
}
footer p a:active {
  background: white;
}

.container {
  display: grid;
  grid-auto-flow: row;
  grid-template-rows: max-content 1fr max-content;
  min-height: 100vh;
}
.frame {
  display: grid;
  grid-template-columns: repeat(1);
  max-width: var(--content-width);
  padding: var(--frame-padding);
  margin: 1rem auto;
}
.frame__twocolumn {
  display: grid;
  grid-template-columns: repeat(2, 50%);
  max-width: var(--content-width);
  padding: var(--frame-padding);
  margin: 1rem auto;
}
footer {
  bottom: 0;
  background: var(--gradient);
  color: var(--text-color);
  text-align: center;
  padding: 1rem 0 2rem;
}
footer p {
  max-width: var(--content-width);
  margin-left: auto;
  margin-right: auto;
}
.emoji {
  display: inline-block;
  animation: grow-shrink 1s infinite ease-in-out;
  animation-play-state: paused;
}

.emoji:hover {
  animation-play-state: running;
}

@keyframes grow-shrink {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.6);
    text-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
  }
  100% {
    transform: scale(1);
  }
}

.gallery {
  box-sizing: border-box;
  display: grid;
  max-width: var(--content-width);
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 1rem;
  row-gap: 1rem;
  align-items: center;
}
.gallery__image {
  width: 100%;
  box-shadow: var(--shadow-small);
  transition: 150ms all cubic-bezier(0.4, 0, 0.2, 1);
  transform: scale(1);
}
.gallery__image:hover,
.gallery__image:focus {
  box-shadow: var(--shadow-large);
  animation: perspective-scale 300ms cubic-bezier(0.4, 0, 0.2, 1) 1;
  z-index: 999;
  transform: scale(1.05);
}
.gallery__image:active {
  transform: scale(0.98);
  box-shadow: 0 0 0 rgba(0, 0, 0, 0.5);
}

@keyframes perspective-scale {
  0% {
    transform: scale(1);
  }
  60% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1.05);
  }
}

.links ul {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-evenly;
  max-width: var(--content-width);
  margin: 0 auto;
  list-style: none;
  font-size: 1.35rem;
  width: 100%;
}

.links li {
  align-items: center;
  white-space: nowrap;
  margin: 0 0 1rem;
}

@media only screen and (min-width: 900px) {
  html {
    font-size: 1.2em;
  }
}

@media only screen and (max-width: 600px) {
  html {
    font-size: 0.9em;
  }
  .frame__twocolumn {
    grid-template-columns: 100%;
  }
  .gallery {
    column-gap: 0.5rem;
    row-gap: 0.5rem;
    grid-template-columns: 1fr 1fr;
  }
}
